<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Blog</h1>
    <nav>
      <%= link_to 'home', root_path %> |
      <% if signed_in? %>
        <%= link_to 'articles', articles_path %> | 
        <%= link_to 'sign out', signout_path, data: { turbo_method: :delete } %> | 
      <% else %>
        <%= link_to 'sign in', signin_path %> | 
      <% end %>
      
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
