<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Blog</h1>
    <nav>
      <%= link_to 'home', root_path %> |
      <%= link_to 'articles', articles_path %>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
